.postPageContainer {
  width: 67.5%;
  height: 640px;
  height: 100%;
  margin: 1% auto 0 auto;
  padding-top: 110px;
}
.steps {
  padding: 30px;
}
.steps h2 {
  font-size: 35px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin: 0 0 25px 0;
}
.title {
  color: #482602;
  font-family: cursive;
}

.flex_container {
  display: flex;
}
.icon_container {
  height: 43px;
  margin-right: 6px;
  display: flex;
  align-items: end;
}
.content_container {
  display: flex;
  font-family: monospace;
  color: #212529;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 25px;
}

.underline {
  height: 3px;
  background-color: #fe8402;
  width: 200px;
  margin: 0 4px 15px;
}

.postTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 0 20px 0;
  color: #212529;
  font-size: 4vh;
  font-weight: 500;
}

.textarea {
  padding: 8px 17px;
  width: 100% !important;
  height: 150px;
  min-height: 150px;
  border-radius: 6px;
  font-size: 17px;
  border-color: #35355e;
  resize: none;
  resize: vertical;
  margin-top: 7%;
}

.button {
  margin-top: 14px;
  margin-bottom: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 130px;
  padding: 11px 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.errorAlert {
  text-align: center;
  color: red;
}

.noAnswer {
  color: #0d6efd;
  font-size: 16px;
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}
.spinner {
  text-align: center;
  margin-top: 20px;
}

.submissionAlert {
  text-align: center;
  color: green;
  font-size: 18px;
}

@media screen and (min-width: 350px) {
  .steps {
    padding: 0;
  }
}
